<div class="well">

    <h1>Firemaking <small> Planner</small></h1>

    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col-md-8">
                            <h4>{{model.current.city}}, {{model.current.country}}</h4>
                        </div>

                        <div class="col-md-4">
                            <h4>{{todayDate}}</h4>
                            <!--h4>{{model.current.temperature}}°C</h4 -->
                        </div>

                    </div>
                </div>

                <div class="panel-body">
                    {{clock-n-outdoortemperatureforecast
                        weatherDataset=model
                        onUpdateWeather=(action 'updateModel')
                        fireMakingPlan=firePlan}}
                </div>

                <div class="panel-footer">
                    <div class="input-group">

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-tint" aria-hidden="true">
                                <h4>{{model.current.humidity}}%</h4>
                            </span>
                        </span>

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
                                <h4>{{sunrise}}</h4>
                            </span>
                        </span>

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
                                <h4>{{sunset}}</h4>
                            </span>
                        </span>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col-md-10">
                            <h4>Fire Log</h4>
                        </div>

                        <div class="col-md-1">
                            <a  class="btn btn-primary btn-sm"
                                {{action "updateModel"}}>
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="panel-body">

                    <div class="form-group">
                        {{datetime-picker
                             valueholder=previouslyMadeFire_Datetime
                             placeholder="Last Fire? (Optional)"}}
                    </div>

                    {{#unless planEntry}}
                        <blockquote class="pull-left">
                            <p>
                                <font size="8">No Plans</font>
                            </p>
                        </blockquote>
                    {{/unless}}

                    {{#if firePlan.makeFire}}
                        <blockquote class="pull-left">

                            <p>
                                <font size="8" color="#e17d5a">{{firePlan.msg}}</font>
                                <!--
                                {{countdown-timer
                                    endDate=countdownEndDateime
                                    onCountdownEnded=(action 'clearPlan')}}
                                -->
                            </p>

                            {{#if maxFireboxLoad}}
                                <p>
                                    <font size="8">Firebox Full</font> logs
                                </p>
                            {{else}}
                                <p>
                                    <font size="8">{{firePlan.woodCount}}</font> logs
                                </p>
                            {{/if}}

                            <p>
                                <font size="6">{{firePlan.startTime}}</font> start
                            </p>

                        </blockquote>
                    {{else if planEntry}}
                        <blockquote class="pull-left">

                            <p>
                                <font size="8">{{firePlan.msg}}</font>
                            </p>

                            <!-- p>
                                {{countdown-timer
                                    endDate=countdownEndDateime
                                    onCountdownEnded=(action 'clearPlan')}}
                            </p -->

                        </blockquote>
                    {{/if}}

                </div>

            </div>

        </div>
    </div>
</div>

{{outlet}}
